<templateSet group="Spring">
  <template name="inj" value="@org.springframework.beans.factory.annotation.Autowired&#10;private $type$ $instance$$END$;" description="Spring autowiring" toReformat="true" toShortenFQNames="true" useStaticImport="true">
    <variable name="type" expression="" defaultValue="&quot;Type&quot;" alwaysStopAt="true" />
    <variable name="instance" expression="complete()" defaultValue="&quot;var&quot;" alwaysStopAt="true" />
    <context>
      <option name="JAVA_CODE" value="false" />
      <option name="JAVA_STATEMENT" value="false" />
      <option name="JAVA_EXPRESSION" value="false" />
      <option name="JAVA_DECLARATION" value="true" />
      <option name="JAVA_COMMENT" value="false" />
      <option name="JAVA_STRING" value="false" />
      <option name="COMPLETION" value="true" />
    </context>
  </template>
  <template name="val" value="@org.springframework.beans.factory.annotation.Value(&quot;${$property$}&quot;)&#10;private $type$ $instance$$END$;" description="Spring property value injection" toReformat="true" toShortenFQNames="true" useStaticImport="true">
    <variable name="property" expression="complete()" defaultValue="" alwaysStopAt="true" />
    <variable name="type" expression="" defaultValue="&quot;Type&quot;" alwaysStopAt="true" />
    <variable name="instance" expression="" defaultValue="&quot;var&quot;" alwaysStopAt="true" />
    <context>
      <option name="JAVA_CODE" value="false" />
      <option name="JAVA_STATEMENT" value="false" />
      <option name="JAVA_EXPRESSION" value="false" />
      <option name="JAVA_DECLARATION" value="true" />
      <option name="JAVA_COMMENT" value="false" />
      <option name="JAVA_STRING" value="false" />
      <option name="COMPLETION" value="true" />
    </context>
  </template>
</templateSet>